* {
    font-style: italic;
}
div{
    color: blue;
}
p{
    color: red;
}
.big{
    font-size: 26pt;
}
.bold{
    font-weight: bold;
}
#one{
    background-color: rosybrown;
}
#two{
    padding-left: 40px;
}
input[disabled]{
    width: 300px;
}
input[type="text"]{
    height: 30px;
}