div{
    height: 100px;
    width: 100px;
    color: beige;
    background-color: blue;
    margin: 30px;
}
.one{
    transform: scale(1.5,1.5);
}
.two{
    transform: rotateX(95deg);
}
.three{
    transform: translate(20px,50px);
}
.four{
    transform: rotateX(30deg)translateX(200px);
}
.five{
    transform: skew(40deg);
}
.six{
    transform: skew(10deg,10deg) rotate(-80deg);
}