div.btn{
    margin: 100px;
    background-color: peru;
    color: white;
    font-size: 30pt;
    padding: 100px;
    width: 400px;
    box-shadow: gray 10px 10px 10px;
}
div.btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: gray 20px 20px 20px;
    transition: 0.5s;
}
div.btn:active{
    transform: translate(5px,5px);
    box-shadow: gray 5px 5px 5px;
    transition: transform 0.2s, box-shadow 0.6s;
}